services:
  # Backend Spring Boot Service
  - type: web
    name: clean-water-backend
    env: docker
    region: singapore
    plan: free
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: DB_HOST
        sync: false
      - key: DB_PORT
        value: 24347
      - key: DB_NAME
        value: defaultdb
      - key: DB_USERNAME
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: DB_SSL
        value: true
      - key: PORT
        value: 8080
